.classNode .nodeField {
	padding: 0px 30px;
/* 	margin-top:5px; */
	margin-bottom:15px;
} 

::placeholder {
	font-style:italic;
}

.rootTreeNode {
	padding-bottom:15px;
	height:100%;
	overflow:auto;
	width:100%;
	color:#495057;
	margin-top:0px;
	margin-bottom:0px;
}

.rootTreeNode div {
	line-height: normal;
/* 	margin-bottom: 5px; */
	margin-top: 5px;
}

.nodeName{
	text-align:left;
	font-size: 1rem;
}

/* check-box group */
.booleanField {
	margin-top:10px;
}

.classNode .classNode .optionalChildren .booleanField {
	padding-right:0px;
}

.classNode .classNode .optionalChildren .booleanField .resetFieldBtn {
	position:relative;
	right:0px;
	padding:2px 12px;
}


/* change checkbox group order */
.booleanField {
	display: flex;
    flex-direction: row;
	align-items:center;
	position:relative;
}
.booleanField .nodeName {
	order:2;
	padding-right:30px;
}

.nodeName label {
	font-size: inherit;
	color:inherit;
}


/* check-box strictly-speaking */
.booleanField label {
	order: 1;
	display:flex;
	align-items:bottom;
}

.booleanField span {
	font-size:1rem;
	margin-top:0px!important;
}

.booleanField label{
	margin-bottom:0px;
}

.booleanField .resetFieldBtn {
	order:3;
	position:absolute!important;
	right:30px;
}

.booleanField div .resetBtn i {
	top:5px;
}

.stringField {
	margin-bottom:0px!important;
}

.stringField input, .implementingClassView{
	top:0px;
	padding: 3px 8px;
	border-radius:4px;
	border: 1px solid #CED4DA;
	color:inherit;
}

.stringField div textarea {
	line-height:inherit;
	padding:10px 12px;
	margin-bottom:5px;
}

.classNode .classNode .optionalChildren .stringField{
	padding-right:0px;
}

.hidden {
	display:none;	
}

.resetFieldBtn {
    content: url('icons/icon_trash.svg');
    width:1rem!important;
    padding-top:2px;
}

.resetBtn i {
	position:absolute!important;
	right:-9px;
	content: url('icons/delete.png');
	width:1rem!important;
	margin-right:5px;
	top:0px;
	border-radius:50%;
}

.resetBtn i:hover{
/* 	  box-shadow: 0 0 10px 2px rgba(207,49,49,0.2); */
	transform: rotate(90deg);
	transition-duration: .5s;
}

/* ---------- halo ------------- 

.halo {
  background-color: rgba(150,64,64,0.2);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  top:-18%;
  right:-4.5%;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
  -webkit-transition-duration: .5s;
}

.resetBtn:hover .halo {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1);
}
 ----------------------- */

.mandatoryChildren {
}

.advancedSettingsBtn{
	margin-top:20px!important;
	margin-bottom:30px;
	font-size:9pt;
	font-weight:bold;
	color:#1d7ae2;
}

.advancedSettingsBtn a {
	height:20px;
	color:#0066cc;
	font-weight:bold;
	text-align:center;
	padding-left:40px;
}
	
.optionalChildren{
	margin:0px 0px 30px 10px;
}

.implementingClassView {
	color: inherit;
	position:relative;
	width:100%;
}

.nodeField {
	margin:10px 0px;
}

.hideAdvancedSettings{
	display:none;
}

.nodeField .nodeName {
	margin-bottom: 0px; 
}

.helperText {
	position:relative;
	top:-10px;
	font-size:0.7rem;
}

.dropdownItems input  {
/* 	height:fit-content; */
/* 	color:red; */
/* 	margin-top:-3px!important; */
}

.dropdownItems ul li span {
	color:inherit;
/* 	padding:5px 16px; */
/* 	margin-bottom:0px!important; */
}
.dropdownItems ul li {
/* 	height:fit-content!important; */
/* 	line-height:0.5rem!important; */
/* 	background-color:pink; */
/* 	height:20px!important; */
/* 	padding-bottom:0px!important; */
}



















