.classNode .nodeField {
	padding: 0px 30px;
/* 	margin-top:5px; */
	margin-bottom:15px;
} 

::placeholder {
	font-style:italic;
}

.rootTreeNode {
	padding-bottom:15px;
	height:100%;
	overflow:auto;
	width:100%;
	color:#495057;
	margin-top:0px;
	margin-bottom:0px;
}

.rootTreeNode div {
	line-height: normal;
/* 	margin-bottom: 5px; */
	margin-top: 5px;
}

.nodeName{
	text-align:left;
	font-size: 1rem;
}

/* check-box group */
.booleanField {
	margin-top:10px;
}

.classNode .classNode .optionalChildren .booleanField {
	padding-right:0px;
}

/* change checkbox group order */
.booleanField {
	display: flex;
    flex-direction: row;
	align-items:center;
	position:relative;
}
.booleanField .nodeName {
	order:2;
	padding-right:30px;
}

.nodeName label {
	font-size: inherit;
	color:inherit;
}

/* check-box strictly-speaking */
.booleanField label {
	order: 1;
	display:flex;
	align-items:bottom;
}

.booleanField span {
	font-size:1rem;
	margin-top:0px!important;
}

.booleanField label{
	margin-bottom:0px;
}

.booleanField div .resetBtn i {
	top:5px;
}

.stringField {
	margin-bottom:0px!important;
}

/* .stringField input, .implementingClassView{ */
/* 	top:0px; */
/* 	padding: 3px 8px; */
/* 	border-radius:4px; */
/* 	border: 1px solid #CED4DA; */
/* 	color:inherit; */
/* } */

.stringField div .resetBtn i {
	top: 1px!important;
}

.stringField div textarea {
	line-height:inherit;
	padding:10px 12px;
	margin-bottom:5px;
}

.classNode .classNode .optionalChildren .stringField, 
.classNode .classNode .optionalChildren .classNode,
.classNode .classNode .optionalChildren .mappingField {
	padding-right:0px;
}

.hidden {
	display:none;	
}

.resetBtn i {
	position:absolute!important;
	right:-9px;
	content:url('icons/icon_reset_gray.svg');
	width:1rem!important;
	margin-right:5px;
	top:-4px;
	border-radius:50%;
}

.resetBtn i:hover{
	content:url('icons/icon_reset_red.svg');
	box-shadow: 0 0 0 10px rgba(207,49,49,0.2);
	transform: rotate(90deg);
	transition-duration: .5s;
}

.mandatoryChildren {
}

.advancedSettingsBtn{
	margin-top:20px!important;
	margin-bottom:30px;
	font-size:9pt;
	font-weight:bold;
	color:#1d7ae2;
}

.advancedSettingsBtn a {
	height:20px;
	color:#0066cc;
	font-weight:bold;
	text-align:center;
	padding-left:40px;
}

.advancedSettingsBtn a:hover {
	text-decoration: underline!important;
}
	
.optionalChildren{
	margin:0px 0px 30px 10px;
}

.nodeField {
	margin:10px 0px;
}

.hideAdvancedSettings{
	display:none;
}

.nodeField .nodeName {
	margin-bottom: 0px; 
}

.helperText {
	position:relative;
	top:-10px;
	font-size:0.7rem;
}

.comboBox label {
	top:13px!important;
}

.classNode .comboBox .resetBtn i {
	top:-4px;
}

.mappingTable {
	display:flex;
	width:100%;
	box-shadow: none;
	border: none;
	padding:0px;
}

.mappingTablePair div {
	padding-left:0px;
	padding-right:0px;
}

.mappingCell input {
	margin-bottom:0px!important;
}
.mappingCell label {
	left:0px!important;	
}

.mappingCell {
	margin-left:0px!important;
	margin-right:15px;
	padding-left:0px!important;
	padding-right:0px!important;
}
.newPairBtn i {
	content:url('icons/icon_addLine_gray.svg');
	width:16px;
	border-radius:50%;
	position: absolute;
    top: -4px;
    right: 0px;
}

.newPairBtn:hover i {
	content:url('icons/icon_addLine_green.svg');
	transform:scale(1.3);
}

.newPairBtn {
	padding-top:7px;
	position: absolute;
	width:fit-content;
    right: 7px;
}

.mappingTablePair {
	display:flex;	
}

.deleteRowBtn {
	top:5px;
}

.deleteRowBtn i {
	content:url('icons/icon_deleteLine_gray.svg');
	margin:0px!important;
	padding-top:7px;
	padding:0px!important;
	position: relative;
	width:10px;
    right: 0px;
    top: 19px;
}

.deleteRowBtn:hover i {
	transform:scale(1.5);
	content:url('icons/icon_deleteLine_red.svg');
}



