.classNode .nodeField {
/*	padding: 0px 0px 0px 30px; */
/* 	margin-top:5px; */
	margin-bottom:15px;
	text-align:left!important;
} 

::placeholder {
	font-style:italic;
}

.rootTreeNode {
	padding:15px;
	height:100%;
	overflow:auto;
	width:100%;
	color:#495057;
	margin-top:0px;
	margin-bottom:0px;
}

.rootTreeNode div {
	line-height: normal;
	margin-top: 5px;
}

.rootTreeNode .scopeSelector {
	margin-bottom: 0px;
}

.nodeName{
	text-align:left!important;
	font-size: inherit;
}

/* check-box group */
.booleanField {
	margin-top:10px;
}

.classNode .classNode .optionalChildren .booleanField {
	padding-right:0px;
}

/* change checkbox group order */
.booleanField {
	display: flex;
    flex-direction: row;
	align-items:center;
	position:relative;
}
.booleanField .nodeName {
	order:2;
	padding-right:30px;
}

.booleanField .description {
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 85%;
    width:auto;
}

.booleanField div div {
	width:100%;
}

.nodeName label {
	font-size: inherit;
	color:inherit;
}

/* check-box strictly-speaking */
.booleanField label {
	order: 1;
	display:flex;
	align-items:bottom;
}

.booleanField span {
	font-size:1rem;
	margin-top:0px!important;
}

.booleanField label{
	margin-bottom:0px;
}

.booleanField div .resetBtn {
	top:5px;
	position:absolute;
}

.stringField {
	margin-bottom:0px!important;
}

.stringField div .resetBtn i {
	top: 1px!important;
}

.stringField div textarea {
	line-height:inherit;
	padding:10px 12px;
	margin-bottom:5px;
}

.classNode .classNode .optionalChildren .stringField, 
.classNode .classNode .optionalChildren .classNode,
.classNode .classNode .optionalChildren .mappingField {
	padding-right:0px;
}

.mappingField {
	padding-right:0px!important;
}

.hidden {
	display:none;	
}

.mappingTable .classNode {
	display:flex;
	flex-wrap:wrap;
	position:relative;
}

.classNode {
	border-left: 3px solid #42A5F5;
}

.mappingTable .advancedSettingsBtn {
	margin-top:0px!important;
}

.resetBtn i {
	position:absolute!important;
	right:-9px;
	content:url('icons/icon_reset_gray.svg');
	width:1rem!important;
	margin-right:5px;
	top:-4px;
	border-radius:50%;
}

.resetBtn i:hover{
	content:url('icons/icon_reset_red.svg');
	box-shadow: 0 0 0 10px rgba(207,49,49,0.2);
	transform: rotate(90deg);
	transition-duration: .5s;
}

.classNode .contentGroup{
	/* border-left: 1px solid #42A5F5; */
	margin-bottom: 10px;
	padding-right:0px;
}

.classNode .mandatoryChildren {
}

.classNode .advancedSettingsBtn{
	margin-top:10px!important;
	margin-bottom:3px;
	font-size:9pt!important;
	color:#1d7ae2;
}

.classNode .advancedSettingsBtn a {
	height:20px;
	color:#0066cc;
	font-weight:500; /*semi-bold*/
	font-size:13px;
	text-align:center;
	margin-left:8px;
}

.classNode .advancedSettingsBtn a:hover {
	text-decoration: underline!important;
}

.classNode .advancedSettingsBtn a[aria-expanded="false"]:before {
	content:'More';
}

.classNode .advancedSettingsBtn a[aria-expanded="true"]:before {
	content:'Less';
}
	
.classNode .optionalChildren{
	margin:0px 0px 30px 10px;
}

.nodeField {
	margin:10px 0px;
}

.hideAdvancedSettings{
	display:none;
}

.nodeField .nodeName {
	margin-bottom: 0px; 
}

.helperText {
	position:relative;
	top:-10px;
	font-size:0.7rem;
}

.comboBox label {
	top:13px!important;
}

.classNode .comboBox .resetBtn i {
	top:-4px;
}

.mappingTable {
	display:flex;
	width:100%;
	box-shadow: none;
	border: none;
	padding:0px;
});

.mappingTablePair div {
	padding-left:0px;
	padding-right:0px;
}

.mappingCell input {
	margin-bottom:0px!important;
}

.mappingCell label {
	left:0px!important;	
}

.mappingCell {
	margin-left:0px!important;
	margin-right:15px;
	padding-left:0px!important;
	padding-right:0px!important;
}

.mappingCell div {
	margin-top:0px;
	
}

.mappingCell .advancedSettingsBtn {
	margin-top:0px!important;
}

.mappingCell .advancedSettingsBtn a {
	font-size:8pt;
}

.mappingTablePair {
	display:flex;	
	margin-top: 0px!important;
	position:relative;
	margin-bottom:10px;
}

.newPairBtn i {
	content:url('icons/icon_addLine_gray.svg');
	width:16px!important;
	border-radius:50%;
	position: absolute;
    top: -4px;
    right: 0px;
}

.newPairBtn:hover i {
	content:url('icons/icon_addLine_green.svg');
	transform:scale(1.2);
}

.newPairBtn {
	padding-top:7px;
	position: absolute;
	width:fit-content;
    right: 7px;
}

.deleteRowBtn {
	top:5px;
	margin-top:0px!important;
	position: absolute;
    right: 15px;
    height: 40px;
    width: fit-content;
}

.deleteRowBtn i {
	content:url('icons/icon_deleteLine_gray.svg');
	margin:0px!important;
	padding-top:7px;
	padding:0px!important;
	position: relative;
	width:10px!important;
    right: -2px;
    top: 10px;
}

.deleteRowBtn:hover i {
	transform:scale(1.5);
	content:url('icons/icon_deleteLine_red.svg');
}

.keyError input {
	background-color: #FFA896;
}


